.top_wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  padding: 30px 5%;
}

/* media queries */

@media (max-width: 850px) {
  .container {
    padding: 30px 15px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
@media (max-width: 650px) {
  .top_wraper {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
  .top_wraper > div:first-child {
    width: 100%;
  }
}
